@import "../../../App.scss";

.header {
	@include mobile {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 375px;
		height: 200px;
		background-color: #232940;

		&__logo {
			background-image: url("../../../assets/logos/InStock-Logo_1x.png");
			height: 28px;
			width: 128.5904px;
			position: absolute;
			left: 123px;
			top: 24px;
		}

		&__heading--warehouse {
			// Add hover and clicked effects
			color: $White;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
			position: absolute;
			position: absolute;
			width: 164px;
			height: 34px;
			left: 16px;
			top: 84px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
		}

		&__heading--warehouse:hover {
			background-color: $Instock-Black;
			color: $White;
		}

		&__heading--inventory {
			// Add hover and clicked effects
			color: $White;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
			position: absolute;
			position: absolute;
			width: 163px;
			height: 34px;
			left: 196px;
			top: 84px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
		}
		&__heading--inventory:hover {
			background-color: $Instock-Black;
			color: $White;
		}
	}

	@include tablet {
		width: 768px;
		height: 186px;

		&__logo {
			position: absolute;
			left: 32px;
			top: 32px;
		}

		&__heading--warehouse {
			// Add hover and clicked effects
			position: absolute;
			width: 107px;
			height: 38px;
			left: 547px;
			top: 27px;
		}

		&__heading--inventory {
			// Add hover and clicked effects
			position: absolute;
			width: 58px;
			height: 22px;
			left: 678px;
			top: 35px;
		}
	}
	@include desktop {
		width: 1280px;
		height: 186px;

		&__logo {
			position: absolute;
			left: 130px;
			top: 32px;
		}

		&__heading--warehouse {
			// Add hover and clicked effects
			position: absolute;
			left: 947px;
		}

		&__heading--inventory {
			// Add hover and clicked effects
			position: absolute;
			left: 1076px;
		}
	}
}
