@import "../../../App.scss";

.header {
	@include mobile {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 200px;
		width: 100%;
		background-color: $Graphite;

		&__logo {
			background-image: url("../../../assets/logos/InStock-Logo_1x.png");
			height: 28px;
			width: 128.5904px;
			margin: 30px auto;
		}

		&__heading--warehouse {
			color: $White;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			width: 164px;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			text-decoration: none;
		}

		&__heading--warehouse:hover {
			background-color: $Instock-Black;
			color: $White;
		}

		&__flex {
			display: flex;
			justify-content: space-around;
		}

		&__heading--inventory {
			color: $White;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 20px;
			width: 164px;
			height: 34px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			text-decoration: none;
		}
		&__heading--inventory:hover {
			background-color: $Instock-Black;
			color: $White;
		}
	}

	@include tablet {
		width: 100%;
		height: 186px;

		&__logo {
			position: absolute;
			left: 40px;
			top: 5px;
		}

		&__heading--warehouse {
			width: 107px;
			height: 38px;
			margin-left: 470px;
			margin-right: 0px;
			margin-top: 30px;
		}

		&__heading--inventory {
			width: 107px;
			height: 38px;
			margin-left: -70px;
			margin-top: 30px;
		}
	}
	@include desktop {
		width: 100%;
		height: 186px;

		&__logo {
			position: absolute;
			left: 130px;
		}

		&__heading--warehouse {
			margin: 0px;
			margin-top: 30px;
			margin-left: 0px;
		}

		&__heading--inventory {
			margin: 0px;
			margin-top: 30px;
		}
		&__flex {
			display: flex;
			justify-content: flex-end;
			margin-right: 140px;
		}
	}
}
