@import "../../../App.scss";

.header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 375px;
	height: 200px;
	background-color: #232940;

	&__logo {
		background-image: url("../../../assets/logos/InStock-Logo_1x.png");
		height: 28px;
		width: 128.59px;
		position: absolute;
		left: 123px;
		top: 24px;
	}

	&__heading--warehouse {
		// Add hover and clicked effects
		// 	background-color: $Instock-Black;
		color: $White;
		font-family: "Titillium Web";
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
		background-color: $Instock-Black;
		position: absolute;
		position: absolute;
		width: 164px;
		height: 34px;
		left: 16px;
		top: 84px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
	}

	&__heading--inventory {
		// Add hover and clicked effects
		// 	background-color: $Instock-Black;
		color: $White;
		font-family: "Titillium Web";
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		line-height: 20px;
		position: absolute;
		position: absolute;
		width: 163px;
		height: 34px;
		left: 196px;
		top: 84px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
	}
}
