@import "../../App.scss";
.green {
  color: $Green;

  width: 65px;
  height: 26px;

  background: rgba(21, 132, 99, 0.07);
  border-radius: 20px;
}
.red {
  color: $Red;
  width: 92px;
  height: 26px;

  background: rgba(201, 69, 21, 0.07);
  border-radius: 20px;
}

.inventory_listitem_td {
  width: 704px;
  height: 605px;
  background-color: $White;
  font-family: "Titillium Web";

  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  &__texttitle {
    position: absolute;
    width: 704px;
    height: 60px;
    left: 0px;
    top: 186px;
    background: rgba(247, 248, 249, 0.7);
    display: flex;
    justify-content: space-evenly;
  }
  &__texttitlepair {
    position: relative;
    width: 13%;
    display: flex;
    justify-content: space-evenly;
    &--title {
      position: absolute;
      left: 0;
      font-size: 12px;
      font-family: "Titillium Web";
    }
    &--sort {
      position: absolute;
      top: 31%;
      right: 0;
      width: 15px;
      height: 15px;
      font-size: 12px;
    }
  }
  &__texttitlepairsmall {
    position: relative;
    width: 11%;
    display: flex;
    justify-content: space-evenly;
    &--title {
      position: absolute;
      left: 10px;
      font-size: 12px;
      font-family: "Titillium Web";
    }
    &--sort {
      position: absolute;
      top: 31%;
      right: 0;
      width: 15px;
      height: 15px;
    }
  }

  &__texttitlepairbig {
    position: relative;
    width: 18%;
    display: flex;
    justify-content: space-evenly;
    &--title {
      position: absolute;
      left: 0;
      font-size: 12px;
      font-family: "Titillium Web";
    }
    &--sort {
      position: absolute;
      top: 31%;
      right: 0;
      width: 15px;
      height: 15px;
      //font-size: 12px;
    }
  }

  //////////// DO NOT TOUCH BELOW////////////
  &__textcontainer {
    position: absolute;
    width: 704px;
    top: 250px;
  }

  &__text {
    border-bottom: 1px solid $Cloud;
    display: flex;
    justify-content: space-evenly;

    &--ptagparent {
      margin-left: -10px;
      width: 13%;
      text-align: left;
    }
    &--ptag {
      text-align: left;
    }
    &--ptagparentstatus {
      margin-left: -30px;
      margin-top: 2%;
      width: 13%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &--ptagparentbig {
      margin-left: -30px;
      width: 18%;
      text-align: left;
    }
    &--ptagbig {
      text-align: left;
    }
    &--ptagparentsmall {
      width: 11%;
      text-align: left;
    }
    &--ptagsmall {
      text-align: left;
    }
    &__actionButtons {
      border: 2px dotted magenta;
      width: 13%;

      position: relative;
      &--deletebutton {
        position: absolute;
        left: 0;
        top: 20%;
      }
      &--editbutton {
        position: absolute;
        left: 50%;
        top: 20%;
      }
    }
  }
}
