@import "../../../App.scss";

.warehouse-list {
	@include mobile {
		width: 90%;
		height: 1700px;
		position: absolute;
		left: 16px;
		top: 136px;
		box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
		border-radius: 3px;
		background-color: $White;

		&__headings {
			display: none;
		}

		&__heading-div {
			display: none;
		}

		&__div {
			position: relative;
			top: 20px;
		}

		&__list {
			font-family: "Titillium Web";
			display: flex;
			gap: 5vw;
			margin-left: 20px;
		}

		&__sub-heading {
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			color: $Slate;
			font-size: 11px;
			margin-bottom: 5px;
			margin-top: 8px;
		}

		&__address {
			width: 120px;
			margin-top: 0px;
		}

		&__sub-data {
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 400;
			font-size: 12px;
			line-height: 20px;
			color: $Instock-Black;
			margin-top: 0px;
		}

		&__email {
			margin-top: 0px;
		}

		&__contact {
			margin-bottom: 0px;
			margin-top: 0px;
		}

		&__name {
			margin-bottom: 12px;
			color: $Instock-Indigo;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
		}

		&__right-arrow {
			margin-top: -12px;
		}

		&__link {
			text-decoration: none;
			display: flex;
		}

		&__address-heading {
			margin-top: 0px;
		}

		&__contact-name {
			margin-bottom: 12px;
			color: $Instock-Indigo;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
		}

		&-buttons {
			display: flex;
			justify-content: space-between;
			margin-left: 10px;
			margin-right: 20px;
		}

		&__buttons-heading {
			display: none;
		}
	}
	@include tablet {
		height: 920px;
		width: 90%;
		position: absolute;
		top: 92px;
		left: 40px;

		&__right-arrow {
			margin-top: -3px;
			padding-left: 70px;
		}

		&__div {
			position: relative;
			top: 85px;
		}

		&-buttons {
			width: 10px;
			display: flex;
			justify-content: space-between;
			gap: 20px;
			position: relative;
			margin-left: 600px;
			bottom: 20px;
		}

		&__headings {
			display: inherit;
			position: absolute;
			width: 704px;
			height: 40px;
			top: 95px;
			left: 32px;
			display: flex;
			justify-content: space-between;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
		}

		&__buttons-heading {
			display: inherit;
		}

		&__name {
			position: absolute;
			left: 32px;
		}

		&__address {
			margin-left: 100px;
			position: relative;
			top: -22px;
			width: 130px;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 400;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__email {
			position: absolute;
			left: 450px;
			top: 50px;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__contact {
			position: absolute;
			left: 450px;
			top: 28px;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__contact-name {
			color: $Instock-Black;
			font-style: normal;
			font-weight: 400;
			font-size: 13.4px;
			line-height: 22px;
			position: absolute;
			left: 300px;
			top: 36px;
		}

		&__sub-heading {
			display: none;
		}

		&__heading-div {
			display: inherit;
			background: rgba(241, 241, 241, 0.5);
			position: relative;
			width: 100%;
			height: 40px;
			top: 95px;
		}

		&__linebreak {
			margin-top: 20px;
		}

		&--info {
			padding-top: 26px;
			height: 25px;
		}

		&--address {
			position: relative;
			left: -30px;
		}
		&__address {
			position: relative;
			left: 35px;
		}
		&--cname {
			position: relative;
			left: -10px;
		}
		&--cinformation {
			position: relative;
			left: -30px;
		}
		&--actions {
			position: relative;
			left: -60px;
		}
	}

	@include desktop {
		height: 930px;
		width: 81%;
		position: absolute;
		left: 130px;

		&__headings {
			position: absolute;
			left: 40px;
			top: 100px;
		}

		&__heading-div {
			top: 100px;
		}

		&--warehouse {
			position: relative;
			left: 5px;
		}
		&--address {
			position: relative;
			left: 110px;
		}
		&--cname {
			position: relative;
			left: 200px;
		}
		&--cinformation {
			position: relative;
			left: 210px;
		}
		&--actions {
			position: relative;
			left: 280px;
		}

		&__name {
			position: relative;
			left: 20px;
			font-size: 14px;
		}
		&__address {
			position: absolute;
			left: 200px;
			top: 24px;
			font-size: 14px;
		}

		&__contact-name {
			position: absolute;
			left: 520px;
			top: 25px;
		}

		&__contact {
			position: absolute;
			top: 24px;
			left: 700px;
		}

		&__email {
			position: absolute;
			left: 700px;
			top: 45px;
		}

		&-buttons {
			margin-left: 950px;
		}

		&__div {
			position: relative;
			top: 90px;
		}

		&__right-arrow {
			padding-left: 20px;
		}
	}
}
