@import "../../../App.scss";

.warehouse-list {
	@include mobile {
		width: 93%;
		height: 100%;
		position: absolute;
		left: 16px;
		// right: 16px;
		top: 136px;
		box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
		border-radius: 3px;
		background-color: $White;

		&__headings {
			display: none;
		}

		&__heading-div {
			display: none;
		}

		&__div {
			position: relative;
			top: 20px;
		}

		&__list {
			font-family: "Titillium Web";
			display: flex;
			gap: 150px;
			margin-left: 30px;
		}

		&__sub-heading {
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			color: $Slate;
			font-size: 11px;
			margin-bottom: 5px;
			margin-top: 8px;
		}

		&__address {
			width: 120px;
			margin-top: 0px;
		}

		&__sub-data {
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 400;
			font-size: 13px;
			line-height: 20px;
			color: $Instock-Black;
			margin-top: 0px;
		}

		&__email {
			margin-top: 0px;
		}

		&__contact {
			margin-bottom: 0px;
			margin-top: 0px;
		}

		&__name {
			margin-bottom: 12px;
			color: $Instock-Indigo;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
		}

		&__right-arrow {
			margin-top: -12px;
		}

		&__link {
			display: flex;
			text-decoration: none;
		}

		&__address-heading {
			margin-top: 0px;
		}

		&__contact-name {
			margin-bottom: 12px;
			color: $Instock-Indigo;
			font-style: normal;
			font-weight: 600;
			font-size: 13px;
			line-height: 20px;
		}

		&-buttons {
			display: flex;
			gap: 120px;
			margin-left: 10px;
		}

		&__buttons-heading {
			display: none;
		}
	}
	@include tablet {
		height: 120vh;
		position: absolute;
		top: 92px;
		left: 32px;

		&__right-arrow {
			margin-top: -3px;
			margin-left: 60px;
		}
		&__link {
			width: 10px;
		}

		&__div {
			position: relative;
			top: 85px;
		}

		&-buttons {
			display: flex;
			gap: 0px;
			position: relative;
			left: 70px;
			bottom: 20px;
		}

		&__headings {
			display: inherit;
			position: absolute;
			width: 704px;
			height: 40px;
			top: 95px;
			left: 32px;
			display: flex;
			gap: 82.5px;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
		}

		&__buttons-heading {
			display: inherit;
		}

		&__name {
			position: absolute;
			left: 32px;
		}

		&__address {
			position: absolute;
			left: 180px;
			top: 25px;
			width: 110px;
			font-family: "Titillium Web";
			font-style: normal;
			font-weight: 400;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__email {
			position: absolute;
			left: 475px;
			top: 50px;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__contact {
			position: absolute;
			left: 475px;
			top: 28px;
			font-size: 13.4px;
			line-height: 22px;
		}

		&__contact-name {
			color: $Instock-Black;
			font-style: normal;
			font-weight: 400;
			font-size: 13.4px;
			line-height: 22px;
			position: absolute;
			left: 320px;
			top: 40px;
		}

		&__sub-heading {
			display: none;
		}

		&__heading-div {
			display: inherit;
			background: rgba(241, 241, 241, 0.5);
			position: relative;
			width: 100%;
			height: 40px;
			top: 95px;
		}

		&__linebreak {
			margin-top: 20px;
		}

		&--info {
			padding-top: 26px;
			height: 25px;
		}
	}

	@include desktop {
		height: 114vh;
		position: absolute;
		top: 92px;
		left: 130px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);

		&__headings {
			position: absolute;
			left: 40px;
			top: 100px;
		}

		&__heading-div {
			top: 100px;
		}

		&--warehouse {
			position: relative;
			left: 5px;
		}
		&--address {
			position: relative;
			left: 140px;
		}
		&--cname {
			position: relative;
			left: 250px;
		}
		&--cinformation {
			position: relative;
			left: 360px;
		}
		&--actions {
			position: relative;
			left: 470px;
		}

		&__name {
			position: relative;
			left: 20px;
			font-size: 14px;
			// width: 1000px;
		}
		&__address {
			position: absolute;
			left: 330px;
			font-size: 14px;
		}

		&__contact-name {
			position: relative;
			left: 385px;
			top: 30px;
		}

		&__contact {
			position: absolute;
			left: 850px;
		}

		&__email {
			position: absolute;
			left: 850px;
		}

		&-buttons {
			position: relative;
			left: 545px;
		}

		&__div {
			position: relative;
			top: 90px;
		}
	}
}
