@import "../../../App.scss";

.footer {
	@include mobile {
		position: absolute;
		text-align: center;
		left: 25%;
		top: 1850px;
		width: 157px;
		height: 16px;
		font-family: "Titillium Web";
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 16px;
		text-align: center;
		color: $Slate;
		padding-bottom: 40px;
	}

	@include tablet {
		position: relative;
		width: 171px;
		height: 18px;
		left: 318px;
		top: 1040px;
		font-size: 12px;
		line-height: 18px;
	}

	@include desktop {
		position: absolute;
		width: 171px;
		height: 18px;
		left: 600px;
	}
}
