@import "../../../../App.scss";

.search {
	@include mobile {
		color: $Instock-Black;
		font-family: "Titillium Web";
		position: absolute;
		width: 150px;
		height: 36px;
		left: 25px;
		font-size: 28px;
		line-height: 36px;

		&__input {
			font-family: "Titillium Web";
			padding-left: 16px;
			font-size: 13px;
			color: $Slate;
			background-color: $White;
			box-sizing: border-box;
			position: absolute;
			width: 295px;
			height: 36px;
			left: 25px;
			top: 75px;
			border: 1px solid $Cloud;
			border-radius: 20px;
			background-image: url(../../../../assets/icons/search-24px.svg);
			background-repeat: no-repeat;
			background-size: 5vw;
			background-position-x: 58vw;
			background-position-y: center;
		}

		&__button--add {
			border: 1px solid $Instock-Indigo;
			border-radius: 20px;
			width: 295px;
			height: 36px;
			font-family: "Titillium Web";
			font-weight: 600;
			font-size: 12.8px;
			line-height: 20px;
			color: $White;
			flex: none;
			order: 0;
			flex-grow: 0;
			background: $Instock-Indigo;
			padding: 8px 84px;
			position: absolute;
			left: 25px;
			top: 130px;
		}
	}

	@include tablet {
		position: absolute;
		width: 171px;
		height: 40px;
		left: 40px;
		top: 5px;
		font-size: 32px;
		line-height: 40px;
		font-weight: 600;

		&__input {
			font-size: 14px;
			box-sizing: border-box;
			position: absolute;
			width: 185px;
			height: 38px;
			left: 300px;
			top: 35px;
			background-size: 2.5vw;
			background-position-x: 16vw;
		}

		&__button--add {
			font-size: 12.5px;
			line-height: 22px;
			padding: 8px 16px;
			gap: 10px;
			position: absolute;
			width: 168px;
			height: 38px;
			left: 501px;
			top: 35px;
		}
	}

	@include desktop {
		position: absolute;
		width: 171px;
		height: 40px;
		// left: 170px;
		top: 10px;

		&__input {
			font-size: 14px;
			position: absolute;
			width: 274px;
			height: 38px;
			left: 520px;
			top: 40px;
		}

		&__button--add {
			width: 168px;
			height: 38px;
			font-size: 13px;
			line-height: 20px;
			color: $White;
			flex: none;
			order: 0;
			flex-grow: 0;
			background: $Instock-Indigo;
			border-radius: 20px;
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px 16px;
			gap: 10px;
			position: absolute;
			left: 815px;
			top: 40px;
		}
	}
}
