@import "../../../../App.scss";

.warehouse-button--delete {
	@include mobile {
		margin-left: 22px;
		margin-bottom: 10px;
		margin-top: 2px;
		height: 18px;
		width: 14px;
		background-image: url(../../../../assets/icons/delete_outline-24px.svg);
		background-position: center;
		border: none;
	}

	@include tablet {
		margin-bottom: 10px;
		margin-top: 2px;
		height: 18px;
		width: 14px;
		background-image: url(../../../../assets/icons/delete_outline-24px.svg);
		background-position: center;
		border: none;
	}
	@include desktop {
		margin-right: 0px;
		margin-bottom: 10px;
		margin-top: 2px;
		height: 18px;
		width: 14px;
		background-image: url(../../../../assets/icons/delete_outline-24px.svg);
		background-position: center;
		border: none;
	}
}
